.block-breakfast {
    background: #fff url(../../img/breakfast-bgd.png) no-repeat center center;
    background-size: cover;
    padding: 90px 0 70px;
    position: relative;
}

.block-breakfast__price,
.block-breakfast__text {
    width: 628px;
    display: inline-block;
    vertical-align: top;
}

.block-breakfast__header_size_xxl {
    color: #fff;
    font-size: 60px;
}

.block-breakfast__header {
    margin-bottom: 15px;
}

.block-breakfast__header-description_size_xl{
    color: #c8a593;
    font-size: 18px;
    text-transform: uppercase;
}

.block-breakfast__header-description {
    margin-bottom: 65px;
}

.block-breakfast__title_size_l {
    font-size: 30px;
    color: #fff;
}

.block-breakfast__description_size_m {
    font-size: 16px;
    color: #c2beba;
}

.block-breakfast__description-price_size_xl {
    font-size: 36px;
    color: #dfc691;
}

.block-breakfast__title {
    margin-bottom: 20px;
}

.block-breakfast__description {
    margin-bottom: 25px;
}

.block-breakfast__description-price {
    margin-bottom: 15px;
}

.block-breakfast__price-item {
    margin-bottom: 12px;
}

.block-breakfast-container-price {
    width: 330px;
    text-align: center;
    margin-left: 200px;
}

.block-breakfast__text-button {
    padding: 15px 70px;
    border: 1px solid #9e9c93;
}

.block-breakfast__text-button:hover {
    background: #afafaf;
    color: #fff;
    cursor: pointer;
}

.block-breakfast__text-button_size_m {
    font-size: 18px;
    color: #a47d5e;
    text-transform: uppercase;

}

.block-breakfast__text-description_size_s {
    font-size: 14px;
    color: #56534c;
    line-height: 30px;
}

.block-breakfast__text-header_size_l {
    font-size: 44px;
    color: #56534c;
    line-height: 60px;
}

.block-breakfast__text-header {
    margin: 0 auto;
    width: 340px;
}

.block-breakfast__text-description {
    margin: 45px auto 66px;
    width: 335px;
}

.block-breakfast-container-text {
    padding: 55px 0 66px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 443px;
    height: 605px;
}

.block-breakfast__text {
    position: relative;
    text-align: right;
}

.block-breakfast__head-text-left {
    float: left;
    margin-left: 105px;
}

.block-breakfast__head-text-right {
    float: right;
    margin-right: 105px;
}

.block-breakfast__head-text_size_xs {
    color: #56534c;
    font-size: 14px;
    text-transform: uppercase;
}

.block-breakfast__head-img {
    margin: 15px 0 60px;
}

.block-breakfast__text_first {
    z-index: 3;
}

.block-breakfast__text_center {
    z-index: 2;
    position: absolute;
    top: 118px;
    right: 305px;
}

.block-breakfast__text_last {
    z-index: 1;
    position: absolute;
    top: 145px;
    right: 287px;
}

.block-breakfast__text-img_size_l {
    -webkit-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
}

.block-breakfast__text-img_size_m {
    height: 548px;
    -webkit-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
}

.block-breakfast__text-img_size_s {
    height: 500px;
    -webkit-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.2);
}




